// colors
$green: #24bf4b;
$black: #141414;
$dark-blue: #00416a;
$light-blue: #00416a96;
$white: #fefffe;
$orange: #fb9f39;

// fonts
$font-1: "Ubuntu", sans-serif;
$font-2: "Alegreya SC", serif;
